<a href="https://colab.research.google.com/github/kadin-kadin/PYTH_Homework_Submissions./blob/master/PYTH826_basic_data_inclass_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/mottaquikarim/PYTH2/blob/master/src/PSETS/nb/basic_data_inclass_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  BASIC DATA TYPES

## BASICS

### P1.PY

In [8]:
"""
Placeholders
"""

# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. The program won't run if you leave it blank, but you don't want to forget you need it! Make a workaround.

'\nPlaceholders\n'



### P2.PY

In [9]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. Now print it out without re-typing the number.

my_fav_num = 3
print(type(my_fav_num))


# Create another variable that represents your favorite color, and do the same steps as above.
my_fav_color = "blue"

this_is_a_long_str = """
Hello! Lots of stuff"""

<class 'int'>



### P3.PY

In [10]:
"""
String Formatting
"""

# Create a variable that contains the first 4 lines of your favorite song. 
# Add a comment that includes the song title and artist **each on their own line**! 
# Now print out this variable.

my_fav_song = """

SyntaxError: ignored



## TYPECASTING

### P1.PY

In [0]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22

float_five = float(five)
print(float_five)



### P2.PY

In [0]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False


# conver 5 thr integer into '5', the string
str_five = str(five)
print(type)))



### P3.PY

In [0]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0

b_one =bool(one)
b_zero = bool(zero)


# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.


# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.


# C) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.


# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result. 

ten = 10



### P4.PY

In [0]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0
bool_true = True
bool_false = False

s_one =str(one)
s_zero =str(zero)
s_bool_true = str(bool_true)
s_bool_false = str(bool_false)

print(bool_true, s_zero, s)

# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. Print the result and the datatype of the result.



# C) Use typecasting to turn the latest values for variables 'bool_true' and 'bool_false' back into boolean values. Print the result and the datatype of the result.



## OPERATORS

### P1.PY

In [0]:
"""
Integer & Float Operators
"""

# Complete the specified math operations. Do the next operation on the result from the previous operation.

orig_var = 100

# Add 50
orig_var += 50 #150

# Subtract 90
orig_var -= 90 #60

# Multiply 10
orig_var *= 10 #600

# Divide 150
orig_var /= 150 #4

# Modulus 3
orig_var = %3

print(orig_var)

print ( 4 %3 ) # what is the remainder if we divide 4 by 3

print( 15 ** 2 ) #15 ^2 == 225



### P2.PY

In [0]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. Do NOT add any punctuation up front. Add the two variables together, and print the result.
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling." 

one = "I'll go the beach today"
two = "I'll go snorkeling"

compound = one + ", and " + two
print



### P3.PY

In [0]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together.

# A)
a = 0
b = 2

print (a+b) #2


# B)
c = '0'
d = '2'

print (c+d) # 02


# C)
e = "0"
f = 2



### P4.PY

In [0]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True

print(a+b)


# B)
c = False
d = False


print(c+d)


# C)
e = True
f = False

print